/* TODO: replace with local copy */
@font-face {
    font-family: "Computer Modern";
    src: url('http://spratt.github.io/Computer-Modern/cmunss.otf');
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://spratt.github.io/Computer-Modern/cmunsx.otf');
    font-weight: bold;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://spratt.github.io/Computer-Modern/cmunsi.otf');
    font-style: italic, oblique;
}

@font-face {
    font-family: "Computer Modern";
    src: url('http://spratt.github.io/Computer-Modern/cmunbxo.otf');
    font-weight: bold;
    font-style: italic, oblique;
}

body {
    font-family: "Computer Modern", serif;
}

@media (min-width: 52em) {
    .container {
        max-width: 50rem;
    }
}

@media (min-width: 64.5em) {
    .container-notes {
        max-width: 62.5rem;
    }
}

.container-narrow > hr {
    margin: 2rem 0;
}


.masthead {
    margin-top: 0;
    margin-bottom: 3rem;
    background-color: #07070F;
    -webkit-box-shadow: inset 0 -.1rem .25rem #888888;
            box-shadow: inset 0 -.1rem .25rem #888888;
}

.masthead > .container {
}

.nav {
    float: none;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.nav li {
    display: inline-block;
    float: none;
    font-weight: bold;
}

.nav-link {
    padding: 0.5rem 2rem 0.5rem 2rem;
}

.footer {
    margin-top: 3rem;
    margin-bottom: 0;
    background-color: #07070F;
    -webkit-box-shadow: inset 0 .1rem .25rem #888888;
            box-shadow: inset 0 .1rem .25rem #888888;
}

.footer-item {
    color: white;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: 0;
}

.footer-item-left {
    text-align: left;
}

.footer-item-right {
    text-align: right;
    color: #AAAAAA;
}


h1 {
    font-weight: bold;
    text-align: center;
}

/* from: https://gist.github.com/joshbode/491ad0e678d456ea8ddc */
/* automatic heading numbering */
h1 { counter-reset: h2counter; }
h2 { counter-reset: h3counter; }
h3 { counter-reset: h4counter; }
h4 { counter-reset: h5counter; }
h5 { counter-reset: h6counter; }
h6 { }

h2:before {
    counter-increment: h2counter;
    content: counter(h2counter) ".\0000a0\0000a0";
}

h3:before {
    counter-increment: h3counter;
    content: counter(h2counter) "."
                counter(h3counter) ".\0000a0\0000a0";
}

h4:before {
    counter-increment: h4counter;
    content: counter(h2counter) "."
                counter(h3counter) "."
                counter(h4counter) ".\0000a0\0000a0";
}

h5:before {
    counter-increment: h5counter;
    content: counter(h2counter) "."
                counter(h3counter) "."
                counter(h4counter) "."
                counter(h5counter) ".\0000a0\0000a0";
}

h6:before {
    counter-increment: h6counter;
    content: counter(h2counter) "."
                counter(h3counter) "."
                counter(h4counter) "."
                counter(h5counter) "."
                counter(h6counter) ".\0000a0\0000a0";
}


/* from: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Lists_and_Counters/Using_CSS_counters */
.table-of-contents ol {
    counter-reset: section;
    list-style-type: none;
}

.table-of-contents li::before {
    counter-increment: section;
    content: counters(section, ".") ". ";
}


.notes-mc-topbar-left {
    text-align: left;
}

.notes-mc-topbar-right {
    text-align: right;
}
