<footer class="footer">
    <div class="container">
        <div class="row align-items-center">
            <div class="col">
                <p class="footer-item footer-item-left">&copy; Joe Colosimo</p>
            </div>
            <div class="col">
                <p class="footer-item footer-item-right"><a href="#">top</a></p>
            </div>
        </div>
    </div>
</footer>


<!-- Bootstrap JavaScript -->
<!-- TODO: replace with local copy -->
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


<!-- Lightbox JavaScript -->
<!-- TODO: replace with local copy -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>

<script src="/js/site.js"></script>
