<!DOCTYPE html>
<html lang="en">
    <head>
        <!--__require:style.frag.html-->

        <title>
            <!--__content:title-->
        </title>

        <!--__content:head-->
    </head>

    <body>
        <!--__require:body_pre.frag.html-->

        <div class="container">
            <h1>
                <!--__content:title-->
            </h1>
        </div>

        <div class="container content">
            <div class="row">
                <div class="col-12 col-lg-2">
                </div>

                <div class="col-12 col-lg-8">
                    <!--__require:note-metapage-content.frag.html-->
                    <!--__content:pagination-->
                </div>

                <div class="col-12 col-lg-2 sidebar">
                    <!--__include:sidebar.frag.html-->
                </div>
            </div>
        </div>

        <!--__require:body_post.frag.html-->
    </body>
</html>
