<!DOCTYPE html>
<html lang="en">
    <head>
        <!--__require:style.frag.html-->

        <title>
            <!--__content:title-->
        </title>

        <!--__content:head-->
    </head>

    <body>
        <!--__require:body_pre.frag.html-->

        <div id="content" class="container container-notes">
            <div class="row">
                <div class="col-sm-3">
                </div>
                <div class="col-sm-6 notes-content">
                    <h1>
                        <!--__content:title-->
                    </h1>
                    <!--__content:body-->
                    <!--__require:botbar.frag.html-->
                </div>
                <div class="col-sm-3 mt-5 notes-sidebar">
                    <!--__require:sidebar.frag.html-->
                </div>
            </div>
        </div>

        <!--__require:body_post.frag.html-->
    </body>
</html>
